[submodule "src/universal_robot"]
	path = src/universal_robot
	url = https://github.com/ros-unitn/universal_robot.git
[submodule "src/robotiq"]
	path = src/robotiq
	url = https://github.com/ros-unitn/robotiq.git
[submodule "src/x_vision/yolov5"]
	path = src/x_vision/yolov5
	url = git@github.com:ros-unitn/yolov5.git
[submodule "src/x_vision/legoblocks"]
	path = src/x_vision/legoblocks
	url = git@github.com:ros-unitn/legoblocks.git
[submodule "models/blocks.model"]
	path = models/blocks.model
	url = git@github.com:ros-unitn/legomodels.git
