[submodule "src/universal_robot"]
	path = src/universal_robot
	url = https://github.com/ros-unitn/universal_robot.git
[submodule "src/robotiq"]
	path = src/robotiq
	url = https://github.com/ros-unitn/robotiq.git
